body {
    font-family: 'Raleway', sans-serif;
    max-width: 1060px;
}
.pad-sides {
    padding: 30px;
    
}
header {
    margin: 0 auto;
    background-image: url(./images/keyboards.jpeg);
    background-position: center;
    background-size: 1000px 100%;
    background-repeat: no-repeat;
    padding: 80px 0 0 0;
}
header > h1 {
    color: red;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    
}
header > p {
    color: black;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
}
nav {
    background-color: rgba(125, 125, 125, .5);
    display: flex;
    justify-content: space-around;
    margin-top: 55px;
}
nav > a {
color: rgba(255, 255, 255, 1);
text-decoration: none;
}

nav > a:hover {
    color: black;
}
.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space between;
}
.wrapper > main {
    width: 65%;
    margin: 0 30px 0 0;
}
.wrapper > main > article {
    margin-top: 50px;
    border-bottom: 1px solid rgba(125, 125, 125, .5);
    padding-bottom: 15px;
}
.wrapper > main > article > h2 {
    color: red;
    font-size: 30px;
    line-height: 40px;
    font-weight: 300;
}
.wrapper > main > article > p {
    font-size: 15px;
    line-height: 40px;
}
.wrapper > aside {
    margin-top: 50px;
    width: 35%;
    padding: 30px 15px;
    background-color: rgba(125, 125, 125, .2);
}
.wrapper > aside > section {
    margin-bottom: 60px;
}
.wrapper > aside > section > h2 {
    color: red;
    font-size: 22px;
    line-height: 33px;
    
}
.wrapper > aside > section > p {
    font-size: 15px;
    line-height: 40px;
}

.wrapper > aside > section > a.tele {
    
    font-size: 20px;
    line-height: 40px;
}
.wrapper > aside > section > a.hyperl {
    margin-top: 50px;
    font-size: 17px;
    line-height: 40px;
    text-decoration: underline;
}
footer{
    margin-top: 50px;
    text-align: center;
    color: gray;
}